<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
    </head>
<body>
  <div class="container text-center">
    <h1>About</h1>
    <p><em>This is Leandro playing with Django.
      Password Generator is a tool to help you make a new password.</em></p>
    <a href="{% url 'home' %}" class="btn btn-warning">HOME</a>
  </div>
</body>
</html>
